# Node
node_modules/
dist/
.env

# Tauri
src-tauri/target/
src-tauri/binaries/
src-tauri/gen/
src-tauri/src/icons/*.ico
src-tauri/src/icons/*.icns
src-tauri/src/icons/*.png

# Logs
*.log
neutralinojs.log

# OS
.DS_Store
Thumbs.db
